<!DOCTYPE html>
<html>
<head>
	<title>Chirag Kumawat | IIT Kanpur</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="icon" href="{% static 'icon.jpg' %}" type="image/gif" sizes="20x20">

	<link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Secular+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Philosopher&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>

	<div class='body'>

		<a target = "_blank" href="https://www.iitk.ac.in/"><h1>IIT Kanpur</h1></a>
		<h2> First Year UG Study Material </h2>

		<img class = "anim" border = "0" src = "https://www.math.utah.edu/%7Ebestvina/felxbar.gif"><br>
		<br><br>

		<div class = "temp">
			<a target = "_blank" href="https://drive.google.com/drive/folders/1yx-NXQY0CK3l8ANLWGnIiUL0UzjqCK4H" class="btn btn-primary btn-lg btn-block"> Course Template
			</a>
			<hr>	
		</div>
		<div class="intro">
			<center>
			<p> Hey! This page is made by Chirag and Sourish, currently in their Final year, pursuing their BTech degrees in civil and mech. engg. respectively.<br> This page contains study  material for the 1st year UG students of IIT Kanpur.<br> For any kind of doubts, help or feedbacks, feel free to contact us!!
			</p>
			</center>
		</div>
		<pre>  </pre>

		<div class="indv1">
			<div class="btn-group">
				<a target = "_blank" href="https://drive.google.com/drive/folders/1I4CbHGLOZqcXIuprTjV47nDEjAnIT66Z" class="btn btn-secondary btn-lg " role="button" aria-pressed="true"> ESC 101A - Fundamental Of Computing</a> <pre>  </pre>
			</div>

			<div class="btn-group">
				<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						CHM 102A - General Chemistry
				</button>
				<div class="dropdown-menu">
					<a target = "_blank" class="dropdown-item" href="https://drive.google.com/drive/folders/1FAyS2FlyoO6yBU25FWEkulQu9C5XybbQ">Physical Chemistry</a>
			
				<a target = "_blank" class="dropdown-item" href="https://drive.google.com/drive/folders/1W2CYxe1U9RSNZhAj9mv5LHTaC4JZvJUa">Inorganic and Organic</a>
				</div>
			</div>
			
			<div class="btn-group">
				<a target = "_blank" href="https://drive.google.com/drive/folders/1X8uuXNZ2mIUpwM81HZuJuPUwEZ4lz7Ac" class="btn btn-secondary btn-lg " role="button" aria-pressed="true">LIF 101A - Introduction To Biology</a> <pre>  </pre>
			</div>
			
			<div class="btn-group">
				<a target = "_blank" href="https://drive.google.com/drive/folders/11HhINx6Ff5PciUjtrCWJQRPo1cfdYF04" class="btn btn-secondary btn-lg " role="button" aria-pressed="true">PHY 102A - Physics-I (Mechanics)</a>
			</div>
			
			<div class="btn-group">
				<a target = "_blank" href="https://drive.google.com/drive/folders/1qql34OwW0KxjX3GM_7I8LRaeRYAIU8AY" class="btn btn-secondary btn-lg " role="button" aria-pressed="true">MTH 101A - Mathematics-I (Calculus)</a> <pre>  </pre>
			</div>
			
			<div class="btn-group">
				<a target = "_blank" href="https://drive.google.com/drive/folders/17wgN42IDRSlIawZW0ITe3qQJdWfjYkTE" class="btn btn-secondary btn-lg " role="button" aria-pressed="true">PHY 103A - Physics-II </a>
			</div>

			<div class="btn-group">
				<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						MTH 102A - Mathematics-II (Linear Algebra & ODE)
				</button>
				<div class="dropdown-menu">
					<a target = "_blank" class="dropdown-item" href="https://drive.google.com/drive/folders/1JTjzR5-pRonVlmL2a5netPfC3C-QWaR3">MTH 102A</a>
			
					<a target = "_blank" class="dropdown-item" href="http://home.iitk.ac.in/~psraj/mth102/lecture_notes.html">Linear Algebra : Notes by Prof. P.Shunmugraj</a>

					<a target = "_blank" class="dropdown-item" href="https://sites.google.com/site/abhijitwebpage/lecture-notes">Linear Algebra : Notes by Prof. Abhijit Pal</a>

					<a target = "_blank" class="dropdown-item" href="http://home.iitk.ac.in/~arlal/mth102a.htm">Linear Algebra : Notes and Assignments by Prof. Arbind Lal</a>

					<a target = "_blank" class="dropdown-item" href="http://home.iitk.ac.in/~sghorai/TEACHING/MTH203/ode.html">ODE : Notes by Prof. S.Ghorai</a>
				</div>	
			</div>

			<div class="btn-group">
				<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						TA 101A - Engineering Graphics
				</button>
				<div class="dropdown-menu">
					<a target = "_blank" class="dropdown-item" href="https://drive.google.com/drive/folders/1q41l4eJXdJZYe-HAUAwErZxOwhnvgbjz">Lab Solutions</a>
			
					<a target = "_blank" class="dropdown-item" href="https://drive.google.com/drive/folders/1nIK0IEp2BPdU8ANim3O-7C1ClsOwsvAS">Home Assignments</a>
				</div>
			</div>

			<div class="btn-group">
				<a target = "_blank" href="https://drive.google.com/drive/folders/1c66lGpc7DGfNkcADxAuuwK5aIsnwyUfI" class="btn btn-secondary btn-lg " role="button" aria-pressed="true"> CHM 101A - Chemistry Lab </a>
			</div>
		</div>

		<div class='cont-icon'>
			<div class='hr1'>
				<hr>
				<div class='contact'>
					<center>Contact Us :</center>
				</div>
			</div>
			<pre>	</pre>
			<pre></pre>
			<center>
				<div class="btn-group">
					<a target="_blank" href="https://www.facebook.com/profile.php?id=100010398425888" class="btn btn-outline-info" role="button" aria-pressed="true">Facebook</a>
					<a target = "_blank" href="mailto:systemwizard101@gmail.com" class="btn btn-outline-info" role="button" aria-pressed="true">Email</a>
					<a target="_blank" href="https://www.linkedin.com/in/chirag2031999/" class="btn btn-outline-info" role="button" aria-pressed="true">LinkedIn</a>
				</div>
				
			</center>
			<pre>	</pre>
		</div>





		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</div>
	</body>
</html>
